@font-face {
    font-family: Sky-Regular;
    font-style: normal;
    font-weight: normal;
    src: url("./sky-font/Sky_Reg.ttf");
}
@font-face {
    font-family: Sky-Bold;
    font-style: normal;
    font-weight: bold;
    src: url("./sky-font/Sky_Bold.ttf");
}
@font-face {
    font-family: Sky-Med;
    font-style: normal;
    font-weight: normal;
    src: url("./sky-font/Sky_Med.ttf");
}
