@import "brand.scss";
:root {
  --ion-color-primary: var(--brand-primary);
  --ion-color-primary-rgb: var(--brand-primary-rgb);
  --ion-color-primary-contrast: var(--brand-primary-contrast);
  --ion-color-primary-contrast-rgb: var(--brand-primary-contrast-rgb);
  --ion-color-primary-shade: var(--brand-primary-shade);
  --ion-color-primary-tint: var(--brand-primary-tint);

  --ion-color-secondary: var(--brand-secondary);
  --ion-color-secondary-rgb: var(--brand-secondary-rgb);
  --ion-color-secondary-contrast: var(--brand-secondary-contrast);
  --ion-color-secondary-contrast-rgb: var(--brand-secondary-contrast-rgb);
  --ion-color-secondary-shade: var(--brand-secondary-shade);
  --ion-color-secondary-tint: var(--brand-secondary-tint);

  --ion-color-tertiary: var(--brand-tertiary: );
  --ion-color-tertiary-rgb: var(--brand-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--brand-tertiary-contrastt);
  --ion-color-tertiary-contrast-rgb: var(--brand-tertiary-contrast-rgb);
  --ion-color-tertiary-shade: var(--brand-tertiary-shade);
  --ion-color-tertiary-tint: var(--brand-tertiary-tint);

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  --ion-color-medium: #646464;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // transparent;
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: transparent;
  --ion-color-transparent-contrast: transparent;
  --ion-color-transparent-contrast-rgb: transparent;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent) !important;
  --ion-color-base-rgb: var(--ion-color-transparent-rgb) !important;
  --ion-color-contrast: var(--ion-color-transparent-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-transparent-shade) !important;
  --ion-color-tint: var(--ion-color-transparent-tint) !important;
}
