<ion-row class="category-list-row">
  <ion-col size="12">
    <ion-list lines="none">
      <ion-item>
        <ion-button color='primary' expand="block" shape="round" size="large" class='button-shadow-effect'>
          <ion-text color="light">
            <span class='text-shadow-effect ion-text-uppercase'>Our Training</span>
            <ion-icon name="ios-custom-horn"></ion-icon>
          </ion-text>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)='newsFeed()' color='primary' expand="block" shape="round" size="large" class='button-shadow-effect'>
          <ion-text color="light">
            <span class='text-shadow-effect ion-text-uppercase'>News</span>
          </ion-text>
          <ion-icon name="ios-custom-paper"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-col>
</ion-row>
